# Frontend Environment Variables
# Copy this file to .env.local and update the values

# Backend API URL
#VITE_API_URL=http://localhost:8080

# For production deployment on gcp
VITE_API_URL=https://intelliscraper-451921002283.europe-west1.run.app
